<!-- interpolacao -->
<p>{{aluno.dados.nome}}</p>

<!-- condicional -->
<p *ngIf="isVisible == false; else condicaoFalsa">Texto 1</p>
<ng-template #condicaoFalsa>
    <p>2</p>
</ng-template>

<!-- switch -->
<div [ngSwitch]="myValue">
    <span *ngSwitchCase="1">Valor 1</span>
    <span *ngSwitchCase="2">Valor 2</span>
    <span *ngSwitchCase="3">Valor 3</span>
    <span *ngSwitchCase="4">Valor 4</span>
    <span *ngSwitchCase="">Valor Padrao</span>
</div>

<!-- for -->
<ul>
    <li *ngFor="let item of myList">Item {{item}}</li>
</ul>